/* Google font import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General styles */

body {
    font-family:  "PT Sans", "sans-serif";
    letter-spacing: 1.3px;
}

h1 {
    font-size: 2rem;;
}

.main-heading {
    font-size: 3rem;
    border-bottom: 2px solid #2D3E59;
    margin-bottom: 20px;
}

.section-heading {
    border-bottom: 1px solid #887456;
    margin: 20px auto;
}

.fill-screen {
    min-height: calc(100vh - 100px);
}

.below-nav {
    margin-top: 100px;
}

.bg-brown {
    background-color: #887456;
}

.bg-blue {
    background-color: #2D3E59;
}

/* stops anchor links from scrolling behind the navbar when navigated to */

html {
    scroll-padding-top: 5rem;
  }


/* Alert messages */

.alert {
    margin-top: 86px;
    margin-bottom: -100px;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}

.alert-block {
    margin-top: 0;
    margin-bottom: 1rem;
}

.alert-block ul {
    list-style-type: none;
    padding: 0 !important;
}

.alert-home {
    width: fit-content;
    height: fit-content;
    margin: 10px auto 0 auto;
    padding: 0.5rem;
    position: absolute;
    left: 10%;
    right: 10%;
    border-radius: 10px;
}

.close span {
    font-size: 1.2rem;
    padding: 5px;
}

.alert-dismissible {
    padding-right: 0;
}

.close {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

/* Navbar */

#nav-logo {
    font-family: lato;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}

#nav-logo:hover {
    color: white;
}

.navbar {
    background-color: #2D3E59;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
    color: white !important;
}

/* Hero section */

#hero-image {
    background: url("https://res.cloudinary.com/tony118g/image/upload/v1677526218/ciwakq2t5t476cwnppnw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    position: relative;
    margin-top: 76px;
}

#hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

#hero-text h1 {
    font-size: 5rem;
    font-family:  "Lato", "sans-serif";
    font-weight: 100;
    letter-spacing: 2px;
}

.sub-heading {
    font-weight: 200;
    letter-spacing: 1px;
}

/* Home page main section */

.card-title {
    margin-top: 2.5rem;
    font-size: 3rem;
}

.book-card {
    background: url('https://res.cloudinary.com/tony118g/image/upload/v1679312603/pp4-practice/restaurant-table_ioprbm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.menu-card {
    background: url('https://res.cloudinary.com/tony118g/image/upload/v1679314323/pp4-practice/menu_vnlqzk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-cover {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 300px;
}

.btn-home-main:hover {
    background-color: rgba(0, 0, 0, 0.1);;
    box-shadow:  0px 6px 6px -5px #887456;
}

/* About us section */

#about-us h3{
    border-bottom: 2px solid #2D3E59;
}

/* menu page */

.sub-menu-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    padding: 10px;
    border-bottom: 1px solid #2D3E59;
}

.sub-menu-link:hover {
    border-bottom: 4px solid #887456;
    color: black;
}

.menu-modal-link:hover {
    color: #887456;
    text-decoration: underline;
}

.badge {
    margin-left: -20px;
}

/* tables */

.clickable-row:hover {
    cursor: pointer;
    background-color: #887456;
}

.clickable-row:hover td {
    color: white;
    text-decoration: none !important;
}

/* forms */

.form-container {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 2%;
    border: 1px solid #2D3E59;
    height: fit-content;
    width: fit-content;
    max-width: 90%;
}

/* Footer */

footer {
    background-color: #2D3E59;
}

footer h4 {
    border-bottom: 1px solid #887456;
    width: 80%;
    margin: 10px auto;
}

footer .row {
    border-bottom: 1px solid #887456;
}

.social-icon {
    margin-top: 20px;
    font-size: 1.2rem;
}

/* Styles for screens smaller than 1200px */
  
  @media screen and (max-width: 1200px) {

    /* tables for small screens */
    /* Idea on how to style table to be responsive was taken from https://codepen.io/AllThingsSmitty/pen/MyqmdM */

    table tr:not(.customer-res-tr, .menu-tr) {
        margin-bottom: 20px;
        display: block
    }
    
    table thead:not(.customer-res-thead, .menu-thead) {
        overflow: hidden;
        position: absolute;
        width: 1px;
    }

    table td:not(.customer-res-td, .menu-td) {
        display: block;
        font-size: .8em;
        text-align: right;
        min-width: fit-content;
    }
    
    table td:not(.customer-res-td, .menu-td)::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

  }