/* Google font import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General styles */

.fill-screen {
    min-height: calc(100vh - 76px);
}

.below-nav {
    margin-top: 76px;
}

/* Alert messages */

.alert {
    width: fit-content;
    height: fit-content;
    margin: 40px auto 0 auto;
    position: absolute;
    left: 10%;
    right: 10%;
}

.alert-dismissible {
    padding-right: 0;
}

.close {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

/* Navbar */

#nav-logo {
    font-family: lato;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}

#nav-logo:hover {
    color: white;
}

.navbar {
    background-color: #2D3E59;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
    color: white !important;
}

/* Hero section */

#hero-image {
    background: url("https://res.cloudinary.com/tony118g/image/upload/v1677526218/ciwakq2t5t476cwnppnw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    position: relative;
}

#hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

#hero-text h1 {
    font-size: 5rem;
    font-family:  "Lato", "sans-serif";
    font-weight: 100;
    letter-spacing: 2px;
}

.sub-heading {
    font-weight: 200;
    letter-spacing: 1px;
}

/* Footer */

footer {
    background-color: #2D3E59;
}

footer h4 {
    border-bottom: 1px solid #887456;
    width: 80%;
    margin: 10px auto;
}

footer .row {
    border-bottom: 1px solid #887456;
}
