{% extends "base.html" %}

{% block content %}

 <!-- Hero section -->

<section class="container-fluid">
    <div class="row" id="hero-image" >
        {% if messages %}
        {% for message in messages %}
            <div id="msg" class="alert-home alert alert-dismissible fade show alert-{{ message.tags }}" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                </button>
            </div>
        {% endfor %}
        {% endif %}
        <div id="hero-text" class="m-auto text-center text-white ">
            <h1>Bundu</h1>
            <h2 class="sub-heading">Bar and Restaurant</h2>
        </div>
    </div>
</section>

<!-- Main home page section -->

<section class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="card book-card w-100 my-3">
                <div class="card-cover">
                    <h3 class="card-title text-white"><a href="{% url 'reserve' %}" class="text-decoration-none text-white">Book Now</a></h5>
                        <div class="card-body">
                            <p class="card-text text-white">We would love to have you here! Make our wish come true and make a reservation!</p>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'reserve' %}" class="btn bg-blue btn-home-main w-50 text-white">Book</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="card menu-card w-100 my-3">
                <div class="card-cover">
                    <h3 class="card-title text-white"><a href="{% url 'menu_page' %}" class="text-decoration-none text-white">Our Menu</a></h5>
                        <div class="card-body">
                            <p class="card-text text-white">Have a look at our amazing menu. We are certain it will make you want to rush over!</p>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'menu_page' %}" class="btn bg-blue btn-home-main w-50 text-white">View Menu</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About us section -->

<section id="about-us" class="container-fluid bg-brown p-3 text-white mb-3">
    <div class="container text-center">
        <h3>About Us</h3>
        <p>Bundu Bar & Restaurant is a small family run business with a passion for great food and an even greater passion for sharing it with the world.</p>
        <p>Our restaurant is nestled between the quiet suburbs of Harare where relaxing and enjoying ones self is made easy.</p>
        <p>As a small restaurant, we pride ourselves in being able to account for the little things that make a difference to our customers.</p>
    </div>
</section>

{%endblock%}