{% extends "base.html" %}

{% block content %}

 <!-- Hero section -->

<section class="container-fluid below-nav">
    <div class="row" id="hero-image" >
        {% if messages %}
        {% for message in messages %}
            <div id="msg" class="text-center alert-home alert alert-dismissible fade show alert-{{ message.tags }}" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                </button>
            </div>
        {% endfor %}
        {% endif %}
        <div id="hero-text" class="m-auto text-center text-white ">
            <h1>Bundu</h1>
            <h2 class="sub-heading">Bar and Restaurant</h2>
        </div>
    </div>
</section>

{%endblock%}