{% extends "base.html" %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <div class="text-center alert alert-dismissible fade show alert-{{ message.tags }}">
           {{ message }}
           <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
             <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
           </button>
    </div>
{% endfor %}
{% endif %}

<div class="container pt-5 fill-screen below-nav">
    <h2>Welcome {{ f_name }} {{ l_name }}!</h2>
    <p><span class="fw-bold">Username</span>: {{ username }}</p>
    <p><span class="fw-bold">Email address</span>: {{ email_address }}</p>
    <a class="btn btn-warning" href="{% url 'edit_account' request.user.id %}">Edit Details</a>
    <a class="btn btn-danger" href="{% url 'delete_account' request.user.id %}">Delete Account</a>
</div>

{%endblock%}