Hello {{ reservation.first_name }}!

Your reservation request has been approved and we have saved a space for you!

The reservation details are as follows:

Name: {{ reservation.first_name }}
Surname: {{ reservation.last_name }}
Date: {{ reservation.date }}
Time: {{ reservation.time }}
Number Of People: {{ reservation.no_of_people }}

If you would like to change or cancel your reservation, you can do so in your profile page on our website: https://bundu-restaurant.herokuapp.com/

Please be advised that if you change your reservation, the approval of the reservation stated above will be made void and your changed reservation will be subject to approval.

For any enquiries please contact us at bundurestaurant@gmail.com or call us on +263 78 050 8241

We hope to see you soon!

Kind regards
Bundu Restaurant