{% extends 'base.html' %}
{% block content %}

<div class="container fill-screen below-nav">
    <h2>Today's Reservations</h2>
    <hr>
    {% if today_res_list %}
    <table class="table tabel-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Time</th>
            <th scope="col">&#8470; of people</th>
          </tr>
        </thead>
        <tbody>
            {% for reservation in today_res_list %}
            <tr>
                <td data-label="First Name">{{reservation.first_name}}</td>
                <td data-label="Last Name">{{reservation.last_name}}</td>
                <td data-label="Time">{{reservation.time}}</td>
                <td data-label="Number">{{reservation.no_of_people}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% else %}
    <p>There are no reservations booked for today.</p>
    {% endif %}
</div>
{% endblock %}