{% extends "base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
    <div class="mx-auto alert alert-dismissible fade show alert-{{ message.tags }}" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
        </button>
    </div>
{% endfor %}
{% endif %}

<div class="container below-nav fill-screen pt-5">
    <div class="row">
        <div class="col-md-6">
          <h1 class="display-4">Staff Dashboard</h1>
          <p class="lead">Bundu restaurant currently has <span class="fw-bold">{{ user_count }}</span> registered customers.</p>
        </div>
        <div class="col-md-6 text-start text-md-end">
          <form action="{% url 'search_date' %}" method="GET">
            {% csrf_token %}
            <label class="d-block d-md-inline" for="search">Search approved reservations by date</label>
            <input id="search_date" type="date" name="date" required/>
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
          </form>
          <form action="{% url 'search_name' %}" method="GET">
            {% csrf_token %}
            <label class="d-block d-md-inline" for="search_name">Search all reservations by name</label>
            <input id="search_name" type="text" name="name" required/>
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
          </form>
          <a href="{% url 'current_reservations' %}" class="me-5 mt-3 btn btn-primary">Today's reservations</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card w-100 mt-3" style="width: 18rem;">
                <div class="card-body text-center m-auto">
                  <h5 class="card-title">Reservations</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Manage Reservations</h6>
                    <a href="{% url 'reservation_list' 'pending' %}" class="d-block btn btn-success mt-3">Pending</a>
                    <a href="{% url 'reservation_list' 'approved' %}" class="d-block btn btn-primary mt-3">Approved</a>
                    <a href="{% url 'reservation_list' 'denied' %}" class="d-block btn btn-warning mt-3">Denied</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="card w-100 mt-3" style="width: 18rem;">
            <div class="card-body text-center m-auto">
              <h5 class="card-title">Menu</h5>
              <h6 class="card-subtitle mb-2 text-muted">Manage The Menu</h6>
              <a href="{% url 'add_menu_item' %}" class="d-block btn btn-success mt-3">Add Menu Item</a>
              <a href="{% url 'menu_drafts' %}" class="d-block btn btn-primary mt-3">Manage Drafts</a>
              <a href="{% url 'menu_page' %}" class="d-block btn btn-warning mt-3">Manage Current Menu</a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}