Hello {{ reservation.first_name }},

We regret to inform you that your reservaton request has been denied. Unfortunately we are unable to accomodate you on the specified date and time and are truly sorry for any inconvenience.

The reservation details are as follows:

Name: {{ reservation.first_name }}
Surname: {{ reservation.last_name }}
Date: {{ reservation.date }}
Time: {{ reservation.time }}
Number Of People: {{ reservation.no_of_people }}

If you would like to edit this reservation and submit a new request, you can do so in your profile page on our website: https://bundu-restaurant.herokuapp.com/

If you edit your reservationp please allow up to 24 hours to hear back from us.
If you would like to make a reservation for today then please call the restaurant on +263 78 050 8241.

For any enquiries please contact us at bundurestaurant@gmail.com or call the above mentioned contact number.

We hope to be able to accomodate you soon.

Kind regards
Bundu Restaurant