Hello {{ reservation.first_name }},

We have sent this email as an apology in regards to your request for a reservation at Bundu Restaurant.

The reservation details are as follows:

Name: {{ reservation.first_name }}
Surname: {{ reservation.last_name }}
Date: {{ reservation.date }}
Time: {{ reservation.time }}
Number Of People: {{ reservation.no_of_people }}

Unfortunately our staff were unable to tend to your request in time and the time of the requested reservation has now past.
We are very sorry about this and hope that you continue to visit us here at Bundu Restaurant.

If you wish to contact the restaurant in regards to this, you may do so via call on +263 78 050 8241 or you can email us at bundurestaurant@gmail.com.
If you would like to make a new reservation request, you may do so on our website: https://bundu-restaurant.herokuapp.com/

We hope to be able to accomodate you soon.

Kind regards
Bundu Restaurant