{% extends 'base.html' %}
{% block content %}

<h1>Staff reservation Approval</h1>

<div class="container fill-screen below-nav">
    <h2 class="text-capitalize">{{ status }} Reservations</h2>
    {% if reservation_list %}
    <table class="table tabel-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">No of people</th>
          </tr>
        </thead>
        <tbody>
            {% for reservation in reservation_list %}
            <tr>
                <td>{{reservation.date}}</td>
                <td>{{reservation.time}}</td>
                <td>{{reservation.no_of_people}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% else %}
    <p>There are no {{ status }} reservations at the moment.</p>
    {% endif %}
</div>
{% endblock %}