{% extends 'base.html' %}
{% block content %}

<h1>Staff reservation Approval</h1>

<div class="container fill-screen below-nav">
    <h2 class="text-capitalize">{{ status }} Reservations</h2>
    {% if reservation_list %}
    <table class="table tabel-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">No of people</th>
          </tr>
        </thead>
        <tbody>
            {% for reservation in reservation_list %}
            <tr>
                <td>{{reservation.date}}</td>
                <td>{{reservation.time}}</td>
                <td>{{reservation.no_of_people}}</td>
                {% if status == 'pending' %}
                <td>
                  <div class="row">
                    <div class="col-md-6">
                      <form action="{% url 'approve_reservation' reservation.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{request.path}}"/>
                        <button class="btn btn-success" type="submit">Approve</button>
                      </form>
                    </div>
                    <div class="col-md-6">
                      <form action="{% url 'deny_reservation' reservation.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{request.path}}"/>
                        <button class="btn btn-warning" type="submit">Deny</button>
                      </form>
                    </div>
                  </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% else %}
    <p>There are no {{ status }} reservations at the moment.</p>
    {% endif %}
</div>
{% endblock %}