{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="fill-screen container">
    <div class="row">
        <div class="col-lg-9 col-12 below-nav mx-auto">
            <h2>{{ heading }}</h2>
            <hr>
            <div class="form-group">
                <form class="mb-5" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success" type="submit" name="submit">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}