{% extends "base.html" %}

{% block content %}

<div class="fill-screen">
    <div class="container mx-auto below-nav">
        <h1>Delete menu item</h1>
        <hr>
        <p class="lead">Are you sure you want to delete the menu item ("{{item_instance}}")?</p>
    
        <form action="{% url 'delete_item' item_instance.id %}" method="POST">
    
            {% csrf_token %}
            <button onclick="window.history.back();" class="btn btn-primary" type="button">Cancel</button>
            <input type="hidden" name="next" value="{{ request.path }}">
            <input class="btn btn-danger" type="submit" name="Confirm" value="confirm Deletion">
        </form>
    </div>
</div>

{% endblock %}