{% extends "base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
    <div class="mx-auto alert alert-dismissible fade show alert-{{ message.tags }}" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
        </button>
    </div>
{% endfor %}
{% endif %}

<div class="container below-nav fill-screen pt-5">
  <div class="row text-center">
    <h1 class="text-center main-heading">Our Menu</h1>

      <div class="col-4">
        <a href="#starters" class="sub-menu-link">Starters</a>
      </div>
      <div class="col-4">
        <a href="#mains" class="sub-menu-link">Mains</a>
      </div>
      <div class="col-4">
        <a href="#deserts" class="sub-menu-link">Deserts</a>
      </div>

    <p class="text-center lead bg-brown text-white mt-3 p-3">Have a look at our tasty menu! Click on a menu item to see what it looks like! </p>
  </div>

  <h2 id="starters" class="text-center bg-blue text-white section-heading">Starters</h2>
  {% if starter_items %}
  {% for menu_item in starter_items %}
  <div class="row text-center">
      <!-- Button trigger modal -->
      <div class=" col-9">
          <a class="btn fw-bold menu-modal-link" data-bs-toggle="modal" data-bs-target="#modal{{ menu_item.id }}">
              <h4>{{menu_item.title}}</h4>
              <p class="fw-light">{{menu_item.description}}</p>
          </a>
      </div>
      <div class="col-3 my-auto">
          {% if menu_item.available == False %}
          <span class="badge bg-danger me-lg-5">Unavailable</span>
          {% endif %}
          <span >${{ menu_item.price }}</span>
      </div>
  </div>
  <hr>

  <!-- Modal -->
  <div class="modal fade" id="modal{{ menu_item.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ menu_item.title }}</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <img class="card-img-top" src=" {{ menu_item.featured_image.url }}" alt="starter item image">
                
          <p>{{menu_item.description}}</p>
          {% if user.is_staff %}
          <span><a class="btn btn-primary" href="{% url 'edit_menu_item' menu_item.id %}">Edit</a></span>
          <span><a class="btn btn-danger ms-5" href="{% url 'delete_item' menu_item.id %}">Delete</a></span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p class="text-center text-danger">Sorry, this menu is currently unavailable.</p>
  {% endif %}

  <h2 id="mains" class="text-center bg-blue text-white section-heading">Mains</h2>
  {% if main_items %}
  {% for menu_item in main_items %}

  <div class="row  text-center">
      <!-- Button trigger modal -->
      <div class=" col-9">
          <a class="btn fw-bold menu-modal-link" data-bs-toggle="modal" data-bs-target="#modal{{ menu_item.id }}">
              <h4>{{menu_item.title}}</h4>
              <p class="fw-light">{{menu_item.description}}</p>
          </a>
      </div>
      <div class="col-3 my-auto">
          {% if menu_item.available == False %}
          <span class="badge bg-danger me-lg-5">Unavailable</span>
          {% endif %}
          <span >${{ menu_item.price }}</span>
      </div>
  </div>
  <hr>

  <!-- Modal -->
  <div class="modal fade" id="modal{{ menu_item.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ menu_item.title }}</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <img class="card-img-top" src=" {{ menu_item.featured_image.url }}" alt="Main menu item image">
                
          <p>{{menu_item.description}}</p>
          {% if user.is_staff %}
          <span><a class="btn btn-primary" href="{% url 'edit_menu_item' menu_item.id %}">Edit</a></span>
          <span><a class="btn btn-danger ms-5" href="{% url 'delete_item' menu_item.id %}">Delete</a></span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p class="text-center text-danger">Sorry, this menu is currently unavailable.</p>
  {% endif %}

  <h2 id="deserts" class="text-center bg-blue text-white section-heading">Deserts</h2>
  {% if desert_items %}
  {% for menu_item in desert_items %}
  <div class="row text-center">
      <!-- Button trigger modal -->
      <div class=" col-9">
          <a class="btn fw-bold menu-modal-link" data-bs-toggle="modal" data-bs-target="#modal{{ menu_item.id }}">
              <h4>{{menu_item.title}}</h4>
              <p class="fw-light">{{menu_item.description}}</p>
          </a>
      </div>
      <div class="col-3 my-auto">
          {% if menu_item.available == False %}
          <span class="badge bg-danger me-lg-5">Unavailable</span>
          {% endif %}
          <span >${{ menu_item.price }}</span>
      </div>
  </div>
  <hr>

  <!-- Modal -->
  <div class="modal fade" id="modal{{ menu_item.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ menu_item.title }}</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <img class="card-img-top" src=" {{ menu_item.featured_image.url }}" alt="Desert item image">
                
          <p>{{menu_item.description}}</p>
          {% if user.is_staff %}
          <span><a class="btn btn-primary" href="{% url 'edit_menu_item' menu_item.id %}">Edit</a></span>
          <span><a class="btn btn-danger ms-5" href="{% url 'delete_item' menu_item.id %}">Delete</a></span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p class="text-center text-danger">Sorry, this menu is currently unavailable.</p>
  {% endif %}

</div>
{%endblock%}