{% extends "base.html" %}

{% block content %}
<div class="container below-nav fill-screen pt-5">
    <h2 class="text-center">Menu Item Drafts</h2>
    {% if menu_drafts %}
    <table class="table tabel-striped table-hover table-bordered text-center">
        <thead>
            <tr>
                <th class="w-50" scope="col">Title</th>
                <th class="w-50" scope="col">Management Options</th>
            </tr>
        </thead>
        {% for menu_draft in menu_drafts %}
            <tr>
                <td><h4>{{ menu_draft.title }}</h4></td>
                <td>
                    <span><a class="btn btn-primary me-md-3" href="{% url 'edit_menu_item' menu_draft.id %}">Edit</a></span>
                    <span><a class="btn btn-danger ms-md-3" href="#">Delete</a></span>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% else %}
    <h4 class="text-center mt-5">There are no drafts at the moment.</h4>

    {% endif %}
</div>

{%endblock%}