{% extends "base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
    <div class="mx-auto alert alert-dismissible fade show alert-{{ message.tags }}" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
        </button>
    </div>
{% endfor %}
{% endif %}

<div class="container below-nav fill-screen pt-5">
    <h2>Menu Item Drafts</h2>
    <hr>
    {% if menu_drafts %}
    <table class="table tabel-striped table-hover text-center">
        <thead class="menu-thead">
            <tr class="menu-tr">
                <th class="w-50" scope="col">Title</th>
                <th class="w-50" scope="col">Management Options</th>
            </tr>
        </thead>
        <tbody>
            {% for menu_draft in menu_drafts %}
            <tr class="menu-tr">
                <td class="menu-td"><p class="lead mb-0 mt-2">{{ menu_draft.title }}</p></td>
                <td class="menu-td">
                    <span><a class="btn btn-primary me-md-3 mt-2" href="{% url 'edit_menu_item' menu_draft.id %}">Edit</a></span>
                    <span><a class="btn btn-danger ms-md-3 mt-2" href="{% url 'delete_item' menu_draft.id %}">Delete</a></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h4 class="text-center mt-5">There are no drafts at the moment.</h4>
    {% endif %}
</div>

{%endblock%}