{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A small restaurant site for making reservations and viewing menu items">
    <meta name="keywords" content="Bundu, Restaurant, Food, Reservation" />
    <!-- bootstrap link and script -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <!-- link to custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Bundu Restaraunt</title>
</head>
<body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container-fluid">
            <a id="nav-logo" class="ms-5" href="{% url 'home' %}">Bundu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto me-5 mb-0">
                    {% if user.is_staff is False %}
                    <li class="nav-item">
                        <a class="nav-link pb-md-0" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pb-md-0" href="{% url 'reserve' %}">Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pb-md-0" aria-current="page" href="{% url 'menu_page' %}">Menu</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'staff_dashboard' %}">Dashboard</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link pb-md-0" href="{% url 'profile_page' %}">Profile</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link pb-md-0" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link pb-md-0" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pb-md-0" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->

    <footer class="py-3">
        <div class="row m-auto text-center text-white">
            <div class="col-md-4">
                <h4 class="pb-2">Open Hours</h4>
                <ul class="list-unstyled">
                    <li>
                        <p><span class="fw-bold">Mon-Fri:</span> 0800 to 2000</p>
                    </li>
                    <li>
                        <p><span class="fw-bold">Weekends:</span> 0800 to 2200</p>
                    </li>
                    <li>
                        <p><span class="fw-bold">Public Holidays: </span> 0800 to 2200</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="pb-2">Contact</h4>
                <ul class="list-unstyled">
                    <li>
                        <p><span class="fw-bold">Email:</span> bundurestaurant@gmail.com</p>
                    </li>
                    <li>
                        <p><span class="fw-bold">Tel: </span> +263 78 050 8241</p>
                    </li>
                    <li>
                        <p><span class="fw-bold">Address: </span> 45 Coul Drive, Mount Pleasant, Harare, Zimbabwe</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <h4 class="pb-2">Social Media</h4>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-decoration-none text-white" href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)">
                            Facebook <i class="fa-brands fa-facebook social-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none text-white" href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Visit our instagram page (opens in a new tab)">
                            Instagram <i class="fa-brands fa-instagram social-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center text-white pt-3">
            <p class="m-0">For Educational Purposes</p>
        </div>
    </footer>

    <!-- Link to custom js -->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- font awesome script -->
    <script src="https://kit.fontawesome.com/3ed3f67f13.js" crossorigin="anonymous"></script>

</body>
</html>