{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <div class="mx-auto alert alert-dismissible fade show alert-{{ message.tags }}">
           {{ message }}
           <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
             <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
           </button>
    </div>
{% endfor %}
{% endif %}

<div class="container below-nav fill-screen pt-2">
    <h2>{{ heading }}</h2>
    <hr>
    {% if editing %}
    <p>If you have edited your user details since this reservation request was made and you wish to update it with the new details without editing anything else, you can simply click on submit and it will be done for you.</p>
    <p class="text-danger">Warning: if you edit your reservation, the old version will be lost and the new version will be subject to approval.</p>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button onclick="window.history.back();" class="btn btn-primary" type="button">Go Back</button>
                    <input class="btn btn-success" type="submit" name="submit">
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <h3>A few things to keep in mind...</h3>
            <hr>
            <ul>
                <li>All online reservations are subject to approval which may take up to 24 hours. If you have not received a response in this time then please get in touch.</li>
                <li>If your request is for tomorrow, we suggest you keep an eye on your email and the reservation status in your profile page. Contact us if we have not responded by within an hour of the requested time or sooner if you so wish.</li>
                <li>Online reservations are only available for future dates so if you would like to reserve a spot for today then please contact us directly via phone call.</li>
                <li>Although we are open untill 2200 on weekends and holidays, we only accept reservations untill 2000 everyday. The restaurant does not allow guests in past this time and only stays open for those who are already in the restaruant before 2000.</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}